<div class="card border border-dark bg-dark text-white">
    
    <div class="card-header">
        <strong><i class ="fa fa-plus-circle"></i> Add New Book</strong>
    </div>

    <form class="form-horizontal" #bookForm = "ngForm">
        <div class="card-body">
            <div class="row">
                <label class="col-md-2 control-lable">Title</label>
                <div class="col-md-4 mb-3">
                    <input type ="text" class="form-control bg-dark text-white" placeholder="Enter book title" id="title" name="title" 
                    [(ngModel)] = "book.title" required minlength="3" #title="ngModel"> 

                    <p class="text-danger" *ngIf="title.errors?.required && title.touched">
                        Book title is required
                    </p>
                    <p class="text-danger" *ngIf="title.errors?.minlength">
                        Book title must be atleast 3
                    </p>
                </div>

                <label class="col-md-2 control-lable">Author</label>
                <div class="col-md-4 mb-3">
                    <input type ="text" class="form-control bg-dark text-white" placeholder="Enter book author" id="author" name="author" 
                    [(ngModel)] = "book.author" required>
                </div>
            </div>

            <div class="row">
                <label class="col-md-2 control-lable">Cover photo URL</label>
                <div class="col-md-4 mb-3">
                    <input type ="text" class="form-control bg-dark text-white" placeholder="Enter book cover photo URL" id="coverPhotoURL" name="coverPhotoURL" 
                    [(ngModel)] = "book.coverPhotoURL" required>
                </div>

                <label class="col-md-2 control-lable">ISBN Number</label>
                <div class="col-md-4 mb-3">
                    <input type ="text" class="form-control bg-dark text-white" placeholder="Enter book ISBN number" id="isbnNumber" name="isbnNumber" 
                    [(ngModel)] = "book.isbnNumber" required>
                </div>
            </div>
            <div class="row">
                    <label class="col-md-2 control-lable">Price</label>
                    <div class="col-md-4 mb-3">
                        <input type ="text" class="form-control bg-dark text-white" placeholder="Enter book price" id="price" name="price" 
                        [(ngModel)] = "book.price" required>
                    </div>
    
                    <label class="col-md-2 control-lable">Language</label>
                    <div class="col-md-4 mb-3">
                        <input type ="text" class="form-control bg-dark text-white" placeholder="Enter book language" id="language" name="language" 
                        [(ngModel)] = "book.language" required>
                    </div>
                </div>
        </div>
        <div class="card-footer text-right">
                <button type="button" class="btn btn-success btn-sm" (click)="saveBook()" [disabled]="!bookForm.form.valid"><i class="fa fa-floppy-o"></i> save</button>&nbsp;
                <span *ngIf="book.id == 0">
            <button type="reset" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i> Reset</button>
          </span>  
        </div>
    </form>
</div>

